.splash-container {
  /* background-image: url('/static/splash_image/splash.webp'); */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/splash_image/splash.webp');
  flex-direction: column;
  text-align: center;

  background-size: cover;
  background-position: center center;
  max-width: 768px;
  margin: 0 auto;
  padding: 40px;
  align-items: center;
}

.splash-container h1 {
  font-family: sans-serif, 'arial';
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.splash-container p {
  font-family: sans-serif, 'arial';
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #000;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: sans-serif, 'arial';

  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 5px;
  text-shadow: 1px 1px #000;
  cursor: pointer;
  text-decoration: none;
}

.btn-signup {
  background-color: #3498db;
}

.btn-login {
  background-color: #2ecc71;
}

@media only screen and (max-width: 767px) {
  .splash-container {
    flex-direction: column;
    text-align: center;
  }
  
  .btn-container {
    margin-top: 20px;
  }
}

